{% extends "overview/base_generic.html" %}

{% block content %}
    <!--<h1>Liste de vols</h1>-->
    {% if flight_list %}
        <h1> Résumé </h1>
        <p>{{ information.flights_number }} vols pour une durée totale de {{ information.duration_sum }} heures. </p>
        {% for year, info_for_year in information.information_per_year.items %}
            <p>{{ year }} : {{ info_for_year.duration }} heures de vols en {{ info_for_year.flights_number_per_year }} vols</p>
        {% endfor %}

        <h1> Liste </h1>
        <table class="table table-hover table-condensed table-striped" style="width:100%">
            <thead>
                <tr>
                    <th align="left">Date</th>
                    <th align="left">Site</th>
                    <th align="left">Durée (min)</th>
                </tr>
                </thead>
            <tbody>
                {% for flight in flight_list %}
                    <tr class='clickable-row' data-href="{% url 'detail' pk=flight.pk %}">
                        <td>{{ flight.date }}</td>
                        <td>{{ flight.site }}</td>
                        <td>{{ flight.duration }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>
    {% else %}
        <p>Aucun vols</p>
    {% endif %}
{% endblock %}
